* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

html {
  /* a cada 1rem será considera 10px */
  font-size: 62.5%;
}

:root {
  --color-primary: #252062;
  --color-secudary: #252273;
  --color-white: #fff;
}

body {
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.7;
  color: var(--color-white);
  background: var(--color-white);
}

/*                 NAVBAR              */
nav {
  background-color: var(--color-primary);
  width: 100vw;
  height: 8rem;
  position: fixed;

  z-index: 1;
}

.nav_container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

nav button {
  display: none;
}

.nav_menu {
  display: flex;
  align-items: center;
  gap: 6.4rem;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 27.5px;
  transition: all 250ms linear 0s;
}

header nav ul li a:hover {
  background: rgba(163, 7, 235, 0.329)
}

.container {
  width: 76%;
  margin: 0 auto;
}

a {
  display: flex;
  color: var(--color-white);
}

a img {
  width: 100%;
}


/*                 MAIN              */

.home {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/backgroud.jpg);
  background-position: center;
  background-repeat: no-repeat;
}


/*==================CARDS================*/

div h1{
  text-align: center;
  margin: 40px 0 40px 0;
  color: black;
  font-size: 3.6rem;
}
.cards {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.text--medium {
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  color: #ecf0f1;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  cursor: pointer;
  transition: all 0.3s ease 0s;
  border-radius: 15px;

}

.card:hover {
  transform: translateY(-7px);
}

.image {
  width: 100%;
  padding-top: 56.25%;
  border-radius: 15px 15px 0 0;

  overflow: hidden;
  position: relative;
}

.image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content {
  margin: 20px;
}

.title {
  margin-bottom: 20px;
}

.info {
  display: flex;
  align-self: end;
  align-items: center;
}

.price {
  margin-left: auto;
  padding: 5px 20px;
  border-radius: 20px;
  background-color: #7159c1;
  filter: brightness(90%);
}

/*==================FOOTER================*/
footer {
  margin-top: 8rem;
  background: var(--color-primary);
  font-size: 1.4rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 8rem 8rem;
}

.footer-container > div h4 {
  margin: 1.5rem 0;
  font-size: 1.9rem;
}

.footer_1 {
  
}


